@mixin hide-text{
  // METHOD 1:
  text-indent: -9999px;

  // METHOD 2:
  // font: 0/0 a;
  // text-shadow: none;
  // color: transparent;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin triangle($direction: left, $color: #fff, $size: 1em, $importance: null) {
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
	}

	@if $direction == top or $direction == bottom {
		&:after {
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			border-#{opposite-direction($direction)}: $size * 1.5 solid $color $importance;
    		$perpendicular-border: $size solid transparent !global;
			border-left:   $perpendicular-border;
			border-right:  $perpendicular-border;
		}
	}

	@else if $direction == right {
		&:after {
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			border-#{opposite-direction($direction)}: $size * 1.5 solid $color $importance;
    		$perpendicular-border: $size solid transparent !global;
			border-bottom: $perpendicular-border;
			border-top:    $perpendicular-border;
		}
	}
	@else if $direction == left {
		&:before {
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			border-#{opposite-direction($direction)}: $size * 1.5 solid $color $importance;
    		$perpendicular-border: $size solid transparent !global;
			border-bottom: $perpendicular-border;
			border-top:    $perpendicular-border;
		}
	}
}


// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}