//---------- Global -----------//
$error-color: #FF4136;
$warning-color: #FF851B;
$base-text-color: #222;
$link-color: #295376;
$link-color-visited: #7834bc;
$box-shadox-color: #999;

//---------- header ----------//

$header-banner-title-color: #555; //course title and subtitle
$header-background-color: transparent; //toolbad fullwidth color
$header-text-color: #666; //series title is being overwritten by the link
$header-module-name-color: #eee; //modules when used


//Top BackNext
$top-nav-text-color: $base-text-color; //TOP BACK NEXT
$top-nav-button-color: $base-text-color; // TOP BACK NEXT ARROWS

//---------- Toolbar ----------//

$header-button-color: #555; //text-based toolbar buttons
$header-button-background-color: transparent; //
$header-button-color-hover: #000; //text-based toolbar buttons
$header-button-background-color-hover: #eee; //background to toolbar buttons

// TOOLBAR ICONS
$toolbar-icon-color:#404040; //icon for toolbar buttons
$toolbar-icon-color-hover:#999999; //icon for toolbar rollover
$toolbar-icon-secondary-color:$toolbar-icon-color; //this never happens
$toolbar-icon-secondary-color-hover:$toolbar-icon-color-hover; //not happening

//Toolbox
$toolbox-link-color: $base-text-color;
$toolbox-link-background-color: #fff;
$toolbox-link-color-hover: #000;
$toolbox-link-background-color-hover: #eee;


//---------- Footer ----------//


$footer-page-of-text-color: #000;
$footer-container-background-color: transparent;
$footer-button-border-color: #fff;
$footer-button-color-disabled: #5b5b5b;
$footer-button-background-color-disabled: #e6e6e6;
//Back Next
$footer-button-color: #000;
$footer-button-background-color: #b4b4b4;
$footer-button-color-hover: #000;
$footer-button-background-color-hover: #c6c8ca;

//---------- supermenu ----------//
$supermenu-button-color: #555;
$supermenu-button-background-color: #eee;
$supermenu-button-color-hover: #333;
$supermenu-button-background-color-hover: #eee;
//dropdown
$supermenu-dropdown-button-color: $base-text-color;
$supermenu-dropdown-button-background-color: #fff;
$supermenu-dropdown-border-color: #000;
$supermenu-dropdown-button-color-hover: #000;
$supermenu-dropdown-button-background-color-hover: #eee;

//icons
$supermenu-dropdown-icons-color:#777;
$supermenu-dropdown-icons-color-hover:#fff;

//Scrollbar
$scrollbar-track-background-color: #222;
$scrollbar-thumb-background-color: #d7e059;

//---------- Buttons ----------//
$button-default-color: #555;
$button-default-color-hover: #fff;
$button-default-background-color: #3b3b3b;
$button-default-background-color-hover: #4f4f4f;
$button-default-border-color: #dcdee1;
$button-default-border-color-hover: #bbbfc5;
$box-shadow-color: #2f2f2f;
$spinner-overlay-background-color: #fff;

//---------- Mobile ----------//
$hamburger-menu-color-mobile: $button-default-color;
$supermenu-link-color: #333 ;
$top-nav-button-color-mobile: #fff;
$top-nav-button-background-color: #777;
//Footer
$footer-button-color-mobile: #fff;
$footer-page-of-text-color-mobile: $base-text-color;
$footer-mobile-button-background-color: #eee;


//---------- Iconography ----------//
//buttons
$btn-icon-color:#606060;
$btn-icon-color-hover:#404040;
//default for others
$default-icon-color:#ffffff;
$default-icon-bg-color:#606060;
//ribbons
$ribbon-color:$default-icon-color; //ribbon icon color
$ribbon-bg-color:$default-icon-bg-color; //ribbon bg color
//Iconbox
$iconbox-color:$default-icon-color;
$iconbox-bg-color:$default-icon-bg-color;

//---------- Modules ----------//

//Progress-bar
$progressBar-color: grey;
$progressBar-border-color: grey;

//Admin Mode
$adminMode-background-color: white;
$adminMode-border-color: #e1e1e1;

//Favorites
$favorites-background-color: #f9f9f9;
$favorites-icon-color: #e6ddb7;
$favorites-icon-shadow-color: #333;
$favorites-icon-color-hover: #efce4a;
$favorites-icon-color-focus: #295376;
$favorites-icon-fav-added-color: #efce4a; 

//Sitemap
$sitemap-link-background-color: #f1f1f1;
$sitemap-checkmark-color: #fff;
$sitemap-checkmark-background-color: #3b3b3b;


//---------- Widgets ----------//

//Collapsible Box
$collapsibleBox-background-color: #fafafa;
$collapsibleBox-border-color: #aaa;
$collapsibleBox-border-bottom-color: #666;
$collapsibleBox-handle-color: #222;

//Modal
$modal-header-color: #555;
$modal-header-background-color: #eee;
$modal-body-background-color: #fff;

//Zoom
$zoomin-focus-outline: #a6c8ff;

//Tutorial
$tutorial-background-color: rgba(0, 0, 0, 0.8);
//Mouse-scroll
$tutorial-mouse-container-background-color: #171717;
$tutorial-mouse-background-color: #d7e059;
$tutorial-mouse-cable-border-color: #d7e059;
$tutorial-mouse-spacer-h-border-color: black;
$tutorial-mouse-spacer-v-border-color: black;
$tutorial-mouse-wheel-background-color: #111;

//Cards
$card-background-color: transparent;
$card-background-color-hover: #d7e059;
$card-border-color: #d7e059;
$card-text-color: #d7e059;
$card-text-color-hover: #3f4040;




//---------- Micro-learning ----------//

$micro-body-background-color: #2f2f2f;
$micro-footer-arrows-color: #d7df58;
$micro-mobile-footer-arrows-color: #d7df58;
$micro-module-info-button-color: #d7e059;
$micro-vertical-spacers-lines-border-color: #d7e059;
$micro-mobile-edges-background-color: #222;
$micro-mobile-course-title-color: $micro-mobile-footer-arrows-color;

//Micro-menu
$micro-menu-toc-marker-background-color: #111;
$micro-menu-mobile-bullet-list-item-border-color: #d7e059;
$micro-menu-mobile-bullet-list-item-border-color-active: #d7e059;



