<section data-id='{{sitemapID}}' class='modal-dialog modal-content overlay-def mfp-with-anim mfp-zoom-in'>
    <header class='modal-header'>
        <h2 class='modal-title' id='lbx-title'>{{labels.nav.sitemap}}</h2>
        <button title="Close overlay (escape key)" type="button" class="mfp-close">×<span class="wb-inv"> Close overlay (escape key)</span></button>
    </header>
    <div class='modal-body'>
		<ul id="whole_sitemap" class="index-list">
        {{#each subs}}
			<li>
			{{#if this.isPage}}
				
<a href="#" class="sitemap-page{{#if this.isLocked}} locked{{/if}}" data-position="{{this.sPosition}}">
                    {{this.title}}
                    {{#if ../CoreSettings.debugMode}} ( {{this.sPosition}} ) {{/if}}
                    {{#if this.viewed}}
                        <span class='checkmark-viewed'>
                            <span class='wb-inv'>{{../labels.err.isViewed}}</span>
                        </span>
                    {{/if}}
                </a>
                {{#if this.isActivity}}<span class="wb-inv">{{../labels.err.isActivity}}</span>{{/if}}
                {{#if this.isQuiz}}<span class="wb-inv">{{../labels.err.isQuiz}}</span>{{/if}}
            {{else}}
                <h{{../startingHeader}}>{{this.title}}</h{{../startingHeader}}>
                <ul data-id='sitemodulemap_{{this.aPosition}}' class="index-list">
                    {{> ./_sitemap-sub subs=this.subs CoreSettings=../CoreSettings startingHeader=(math ../startingHeader "+" 1) labels=../labels }}
                </ul>
            {{/if}}
			</li>
        {{/each}}
		</ul>
    </div>
</section>