<!-- top banner + 2 bars + footer -->
<section class="row">
	<section class="col-md-12 LOM-frame" id="LOMfr_1">
		<div class="LOM-element LOM-banner" data-lom-element="container" id="LOM-el_26">
		<section class="LOM-element placeholder default ui-sortable highlight" data-lom-element="text" id="LOM_el_1" data-lom-subtype="title">
			<h1>
				<div class="LOM-editable" id="LOM-edit-1"><p>Course Name Goes Here</p>
</div>
			</h1>
			<!-- default Object, spawns an object picker -->

		</section>
	<section class="LOM-element" data-lom-element="text" id="LOM_el_20">
	<!-- This element is a plain Text area -->
	<div class="LOM-editable" id="LOM-edit-LOM_el_20-01"><p>Modules will appear below.</p>

<p>&nbsp;</p>
</div>
</section></div></section>
</section>


<section class="row">
	<section class="col-md-5 col-md-offset-1 LOM-frame" id="LOMfr_2">

		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_24">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_2">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_2-01">
					<h2>Structuring Content</h2>

					<p>This paragraph contains an overview of the entire page which may contain multiple articles or sections. To better fit the new scrolling page design ethic, we're using a more suitable hierarchy and nomenclature inspired by print publications. Gone are the topics and screens of old; say hello to Pages, Articles, Blocks and Components!</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_3">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_4"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
		</div>
	</section>

	<section class="col-md-5 LOM-frame" id="LOMfr_3">

		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_23">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_5">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_5-01">
					<h2>Standard Components</h2>

					<p>There are several different components available for formatting your content. The Snap! Framework is built on the WET template and utilizes the widgets that have been created at part of that template. To align the look and feel of courses built using the Snap! Framework with those built in Adapt, we will be using a 2-column layout.</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_6">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_7"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
	</div></section>
</section>

<section class="row">

	<section class="col-md-5 col-md-offset-1 LOM-frame" id="LOMfr_4">

		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_22">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_8">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_8-01">
					<h2>Colours and Icons</h2>

					<p>Colours need to have a high enough contrast to be visible to learners with low vision or colour blindness for example. Icons must be accompanied by descriptive text and have a simple design that is easily discerned.</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_9">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_10"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
		</div>
	</section>

	<section class="col-md-5 LOM-frame" id="LOMfr_5">

		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_21">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_11">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_11-01">
					<h2>Customizable Elements</h2>

					<p>Article text is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_12">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_13"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
		</div>
	</section>

</section>
<section class="row">

	<section class="col-md-5 col-md-offset-1 LOM-frame" id="LOMfr_6">
		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_20">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_14">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_14-01">
					<h2>Exercises</h2>

					<p>Article text is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_15">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_16"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
		</div>
	</section>

	<section class="col-md-5 LOM-frame" id="LOMfr_7">

		<div class="LOM-element LOM-card" data-lom-element="container" id="LOM-el_25">
			<section class="LOM-element" data-lom-element="text" id="LOM_el_17">
				<!-- This element is a plain Text area -->
				<div class="LOM-editable" id="LOM-edit-LOM_el_17-01">
					<h2>Big sample page</h2>

					<p>Article text is dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</section>
			<section class="LOM-element" data-lom-element="btngroup" id="LOM_el_18">
				<!-- This element is button  -->
				<div class="LOM-element" data-lom-element="button" id="LOM_el_19"><button class="snap-sm LOM-btn " type="button" onclick="fNav('m0-1');return false;"><span class="LOM-btn-title">View</span></button></div>
			</section>
		</div>
	</section>

</section>