
// ----- background colors
$btn-bg-color:#fdfdfd;
$btn-bg-color-hover:inherit;
$btn-bg-color-focus:inherit;

$icon-bg-color:white;
$icon-bg-color-hover:inherit;
$icon-bg-color-focus:inherit;


//-------- BORDERS
$border-radius:8px;
$btn-border-color:inherit;
$btn-border-color-hover:inherit;
$btn-border-color-focus:inherit;

$icon-border-color:inherit;
$icon-border-color-hover:inherit;
$icon-border-color-focus:inherit;

//-------- SIZE
$small-btn:35px;
$large-btn:75px;

$big-padding:15px;
$small-padding:5px;


$o-ico-packs: (
    LOM: (
        1:  newpage,
        2:  plus,
        3:  layout,
        4: texttool,
        5: custom,
        6: image,
        7: wrench,
		8: preview,
		9: details,
		10: move,
		11: gear,
		12: structure,
		13: theme,
		14: editpage,
		15: upload,
		16: download, 
		17: trash,
		18: tabs,
		19: lightbox,
		20: audio,
		21: video
    ),
    QS: (
        1:  right,
        2:  left,
        3:  check,
        4:  activity,
        5:  exam,
        6:  radio,
        7:  checkbox
    ),
    SNAP: (
        1:  save,
        2:  bug,
        3:  delete,
        4:  lock,
        5:  unlock,
        6:  edit,
		7:	page,
		8:	folder,
		9:	folderclosed,
		10:	warning
    )
);

$o-button-types:(
  xs:35px,
  sm:35px,
  md:35px,
  lg:75px,
  xl:75px,
  gigantic:75px
);

/*---------------------------------------------------------------------------------------------
		-------------------------standard BUTTONS
---------------------------------------------------------------------------------------------*/	


@each $size, $size-value in $o-button-types{
	button.snap-#{$size},input[type='button'].snap-#{$size}{
		//colors, border radius
		background-color:$btn-bg-color;
		border-color:$btn-border-color;
		border-radius: $border-radius;
		
		&:hover{
			//BUTTON HOVER
			background-color:$btn-bg-color-hover;
			border-color:$btn-border-color-hover;
		}
		&:focus{
			//BUTTON FOCUS
			background-color:$btn-bg-color-focus;
			border-color:$btn-border-color-focus;
			
		}
		

		
		//------------------- NO ICON
		@if $size-value == $small-btn{
			//---- NO ICON SMALL
			&:not([class*="ico-"]){@extend %no-icon-small;}
		}@else{
			//----- NO ICON BIG
			&:not([class*="ico-"]){@extend %no-icon-big;}
		}


		//--------------------- EXTRA SMALL
		@if $size == xs{
		  	@extend %snap-button-only-small-icon;
		  	@extend %snap-button-smallheight;
		}
		//--------------------- SMALL
		@if $size == sm{
		  	@extend %small-icon;
		  	@extend %snap-button-smallheight;
		  	@extend %has-align-sm;
			
		}
		//--------------------- MEDIUM icon
		@if  $size == md{
		  	@extend %small-icon;
			@extend %snap-button-fullwidth;
		  	@extend %snap-button-smallheight;
		}
		//--------------------- LARGE
		@if $size == lg{
		  	@extend %large-text;
			@extend %big-icon;
			@extend %snap-button-fullwidth;
		  	@extend %snap-button-tall;
		}
		
		//--------------------- XL
		@if $size == xl{
		  	@extend %big-icon-overflows;
			@extend %snap-button-fullwidth;
		  	@extend %snap-button-tall;
		}
		//--------------------- GIGANTIC
		@if $size == gigantic{
		  	@extend %big-icon;
			@extend %snap-button-fullwidth;
		  	@extend %snap-button-tall;
		}
		
		

		//---------------------- ICONS
		@each $pack-name, $pack in $o-ico-packs {
			@each $index, $value in $pack{
				&:not([class*="ico-"]){
					//--------NO Icon
					@extend %no-icon;
						@if $size-value == $small-btn {
							//NO ICON SMALL
							@extend %no-icon-small;
						} @else{
							//NO ICON BIG
							@extend %no-icon-big;
						}
				}
				
				&.ico-#{$pack-name}-#{$value}{
					//--------has Icon
					@extend %has-icon;
					//--------BEFORE------------------
					&:before{
						@if $size-value == $small-btn {
							//SMALL BTN iconpack
							background-image:url(base/btn-iconpack_#{$pack-name}.png);
						} @else{
							//LARGE BTN ICON PACK
							background-image:url(base/btn-iconpack_#{$pack-name}_lg.png);
						}
						//-------------- background position
						background-position-x:-($size-value*$index);
					}
					//--------------HOVER BEFORE--------
					&:hover:before{
						background-position-y: -$size-value;
						background-color:$icon-bg-color-hover;
						border-color:$icon-border-color-hover;
					}
					&:disabled:before{
						background-position-y: -($size-value*2)!important;
						border-color:transparent;
						
					}
					//--------------FOCUS BEFORE--------
					&:focus:before,&:focus:before{
						
						background-color:$icon-bg-color-focus;
						border-color:$icon-border-color-focus;
						
						
					}					
				}
			}
		}
	}
}


/*---------------------------------------------------------------------------------------------
		-------------------------standard BUTTONS
---------------------------------------------------------------------------------------------*/	

//-------------WIDTH 
%snap-button-fullwidth {
	width:100%;
	display:block;
	padding-right:$big-padding;
	@extend %has-align-fullwidth;
	
}
%snap-button-only-small-icon{
	width:$small-btn+10;
	@extend %just-icon;
}

//-------------HEIGHT
%snap-button-tall {
	min-height:$large-btn+25;
	
}
%snap-button-smallheight {
	min-height:$small-btn+10;
	min-width:$small-btn+10;
	
}
//-------------TEXT SIZE
%large-text{
    font-size: 1.5em;
    line-height: 1em;
}



//-------------NO ICON
%no-icon{
	text-align:center;
}

%no-icon-small{
	padding-top: $small-padding;
    padding-bottom: $small-padding;
	
}
%no-icon-big{
	padding-top: $big-padding;
    padding-bottom: $big-padding;
	
}


/*-------------------------------------------------------------------------
//-------------------------------- ICONS---------------------------
-------------------------------------------------------------------------*/
%has-icon{
	text-align: left;
	&:before{
		content:'';
		display:block;
		position:absolute;
		/*background-color:$icon-bg-color;*/
		border:#dddddd solid 1px;
		border-radius:5px;
	}

	
}

%just-icon{
	padding-left:2px;
	display:inline;
	text-indent: -9999px;
	overflow:hidden;
	white-space: nowrap;
	&:before{
		height: $small-btn;
		width: $small-btn;
		margin-top: -7px;
		margin-left: 1px;
	}
	
	
}


//-------------SMALL ICONS



%small-icon{
	padding-left:50px;
	padding-right: 10px;
	&:before{
		height: $small-btn;
		width: $small-btn;
		margin-left: -($small-btn+10);
		margin-top: -7px;
	}

}

//-------------BIG ICONS

%big-icon{
	padding-left:$large-btn+25;
	&:before{
		height: $large-btn;
		width: $large-btn;
		margin-left: -90px;
		margin-top: -27px;
	}

	
}

%big-icon-overflows{
	padding-top:$big-padding;
	padding-bottom:$big-padding;
	padding-left:100px;
	&:before{
		height: $large-btn;
		width: $large-btn;
		margin-left: -90px;
	}
}
//-------------------------------------------------------------------
%icon-focus{
	&:focus{
		border-color:$icon-border-color-focus;
		background-color:$icon-bg-color-focus;
	}
}

%has-align-fullwidth{
	&[class*="align"]{
		display:inline-block;
		padding-left:50px;
		padding-right:50px;
		text-align:center;
	}
	
	&.align-right{
		&:before{
			left:calc(100% - 15px);
		}
	}
	&.align-left{
		&:before{
			margin-left:-45px;
		}
	}
	
	
}



%has-align-sm{
	
	&[class*="align"]{
		display:inline-block;
		padding-left:50px;
		padding-right:50px;
		width:175px;
		text-align:center;
	}
	&.align-right{

		padding-left: 10px;
		padding-right: 45px;
		width: auto;
		text-align: right;
		position: relative;

		&:before{
			/*margin-left: 80px; */
    		right: 5px;
    		/* position: relative; */
		}
	}
}


/*-------------------------------------------------------------------------
//-------------------------------- generate icon extends---------------------------
-------------------------------------------------------------------------*/
@mixin iconpack($class, $size, $state) {
	@if ($size == md){
		$size : $small-btn;
	}@else{
		$size : $large-btn;
		
	}
	
	display: block;
	width: $size;
	height: $size;
	@each $pack-name, $pack in $o-ico-packs {
		@each $index, $value in $pack{
			@if $value == $class{
				background-image:url(base/btn-iconpack_#{$pack-name}.png);
				background-position-x: -($size*$index);
				@if ($state == hover){
					background-position-y: -($size*1);
				}
				@if ($state == disabled){
					background-position-y: -($size*2);
				}

			}
		}
	}	
}
